.upper {
  text-transform: uppercase;
  text-align: right;
}

#emailSignUp {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(static/photo-1470083748587-df49227c0505.jpeg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
}

.modal-dialog {
  margin-top : 10em;
}
